@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.container-one{
    background: url(images/pregnancy-yoga2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    border-radius: 5px;
    color: white;
    background-color: #99854b66;
    padding: 15px;
    margin-left: 20px;
    max-width: 600px;
}

.home-text > h2 {
    font-size: 40px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.home-text > p {

    font-size: 25px;
    text-shadow: 0.1em 0.1em 0.2em black
}
.home-text > a{
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    color: white;
    background-color: #4F5847;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Gothic A1', sans-serif;
}
#container-two {
    height: 100vh;
}

@media (max-width: 768px) {
    .container-one {
        background: url(images/pregnancy-yoga3.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

@media (max-width: 576px) {
    .container-one{
        background: url(images/pregnancy-yoga4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home-text {
        max-width: 250px;
        margin: 0 auto;
    }
    .home-text > h2 {
        font-size: 25px;
    }
    .home-text > p {
        font-size: 18px;
    }
    .home-text > a {
        font-size: 18px;
    }
}