.home{
    background: url(images/pregnancy-yoga2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: white;
    background-color: #99854b66;
    padding: 15px;
}

.home-text > h2 {
    font-size: 40px;
    max-width: 600px;
}

.home-text > p {
    max-width: 600px;
    font-size: 25px;
}
#container-two, #container-three {
    height: 100vh;
}