@import url('https://fonts.cdnfonts.com/css/avenir');

.yoga--casal {
    background: url(images/kaylee-garrett-byXBiE-_oBs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    align-items: center;   
    padding-top: 30px;
}
.yogacasal--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 800px;
    border-radius: 5px;
    color: white;
    background-color: #1717165e;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    margin: 0 auto;
}

.yogacasal--text h2 {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Phudu', cursive;
}
.yogacasal--text p {
    font-family: 'Futura LT', sans-serif;
    font-size: 20px;
    margin-bottom: 5px; 
}
@media (max-width: 576px) {
    .yogacasal--text {
        max-width: 400px;
    }
    .yogacasal--text h2 {
        font-size: 19px;
    }
    .yogacasal--text p {
        font-size: 16px;
    }
}

.yogacasal--about {
    height: 100%;
    background-color: #99aa8a92;
    display: flex;
    align-items: center;
    text-align: center;
}

.about--text {
    width: 80%;
    margin: 20px auto;
}
.about--text h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.about--text p {
    color: rgba(0, 0, 0, 0.566);
    text-align: justify;
    font-size: 20px;
    font-family: 'Avenir', sans-serif;
    margin-bottom: 10px;

}
