@import url('https://fonts.cdnfonts.com/css/avenir');

.yoga--casal {
    background: url(images/john-looy-X3DZ1c7MPa4-unsplash1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 30px;
}
.yogacasal--text {
    margin-top: 30px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 10px;
    padding: 10px;
}

.yogacasal--text h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Phudu', cursive;
}
.yogacasal--text p {
    font-family: 'Futura LT', sans-serif;
    font-size: 20px;
    margin-bottom: 5px; 
}
@media (max-width: 576px) {
    .yogacasal--text {
        max-width: 450px;
    }
    .yogacasal--text h2 {
        font-size: 21px;
    }
    .yogacasal--text p {
        font-size: 18px;
    }
}

.yogacasal--about {
    height: 100%;
    background-color: #99aa8a92;
    display: flex;
    align-items: center;
    text-align: center;
}

.about--text {
    width: 80%;
    margin: 20px auto;
}
.about--text h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.about--text p {
    color: rgba(0, 0, 0, 0.566);
    text-align: justify;
    font-size: 20px;
    font-family: 'Avenir', sans-serif;
    margin-bottom: 10px;

}
